#adminmenu #toplevel_page_shopcred-dashboard a[href*="admin.php?page=shopcred-dashboard-license-page&subpage=license-manager"] {
	color: #4aa5f5;
}

#adminmenu #toplevel_page_shopcred-dashboard a[href="admin.php?page=shopcred-dashboard-upsale-page"] {
	color: #F5C546;
}

#adminmenu #toplevel_page_shopcred-dashboard a[href*=""] {
	color: #F5C546;
}